body{
    background-color: white;
}

.Producer_page #Searchicon{
    background-image: url(../../assets/images/search_black.svg);
}

.Producer_page .react-autosuggest__input::placeholder{
    text-align: center;
    color: rgba(0,0,0,0.5);
}

.Producer_page .react-autosuggest__input{
    background-color: rgba(0,0,0,0.06);
}

.Producer_page .react-autosuggest__input:focus{
    background-color: white;
}

#MenuBackground{
    background-color: #5D47AA;
}

.Producer_page #Header_block{
    background-color: rgba(246,246,246,1) !important;
}


#Make_fixed{
    position:fixed !important;
    z-index: 90;
  }


 .Dash_Content_container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 9em;
 } 

 .Dash_header{
    width: 100%;
    height: 462px;
    background-color: #f6f6f6;
    position: absolute;
    z-index: 10;
    top: 0;
 }

 .Dash_container{
    display: flex;
    width: 960px;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
   z-index: 30;

   flex-wrap: wrap;
}

.Dash_row{
    display: flex;
    flex-direction: row;
}

.Dash_Header_section{
    display: flex;
    margin:0px 0px 2em 10px; 
}


.Dash_Content_graph_1{
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.06);
    
    height: 200px;
    width: 300px;
    margin: 8px 8px 8px 8px;
    transition: all 0.2s;
}


.Dash_content_section{
    margin-top: 3em;
    margin-left: 1em;
}

.Dash_table
{
    width: 100%;
}

table{
    border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-family: 'Circular Std';
  font-weight: 500;
    
}


th{
    padding: 16px 0px 16px 0px;
    font-size: 10px;
    color: #9AA1AA;
    background-color: #f6f6f6;
}

tr:hover{
    background-color: #f6f6f6;
    transition: all 0.2s;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.06);
    
}

tr{
    transition: all 0.2s;
}

td{
    color:#3C4044;
    border-bottom: 1px solid #eee;
}

th{
    cursor: pointer;
}

td:nth-child(1){
    letter-spacing: -0.2px;
    padding: 40px 10px 30px 20px;
    
}

th:nth-child(1){
    background-color: #f6f6f6;
    border-top-left-radius: 8px;
    padding-left: 20px;
    border-bottom-left-radius: 8px;
    width: 18%;
}

th:nth-child(7){
    background-color: #f6f6f6;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

td:nth-child(2){
    width:1px;
    text-align: left;
}

.weaw{
    font-size: 12px;
    color: #9AA1AA;
    font-weight: 300;
}

.v_no2{
    background-color: #DBEEFF;
    color: #138BFC;
    border-radius: 100px;
    padding: 2px 6px 3px 8px;
    margin-right: 32px;
    font-weight: 700;
    font-size: 12px;
}

td:nth-child(3){
    width: 112px;
    padding-left: 46px;
}

td:nth-child(5){
    width: 120px;
}

td:nth-child(6){
    width: 80px;
}

td:nth-child(7){
    width: 80px;
}

td:nth-child(8){
    width: 130px;
}


th:nth-child(3){
    padding-left: 46px;
}

th:nth-child(4){
    padding-left: 10px;
    width: 120px;
}

.Change_value{
    color:#219025;
    padding-left: 10px;
    display: inline;
}

td:nth-child(4){
    padding-left: 10px;
}

.relative_count{
    background-image: linear-gradient(to right, red, yellow, green);
    width: 80px;
    height: 3px;
    position: relative;
    bottom: -36px;
    opacity: 0.8;
}

.Arrow{
    position: relative;
    bottom: 13px;
    font-size: 9px;
    color: red;
    opacity: 0.8;
    left: 4px;
}

.Title_table{
    font-size: 10px;
    color: #9AA1AA;
}


.Action_1{
    width: 36px;
    height:36px;
    border-radius: 100px;
    display: inline-block;
    background-color: #eee;
    cursor: pointer;
}

.Action_2{
    width: 36px;
    height:36px;
    border-radius: 100px;
    background-color: #eee;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.Action_3{
    width: 36px;
    height:36px;
    border-radius: 100px;
    background-color: #eee;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.recharts-surface{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.recharts-area-curve{
stroke-width: 4px;
}

.recharts-curve{
    cursor: pointer;
}

.recharts-cartesian-grid-horizontal{
stroke-opacity: 0.3;
}

.recharts-cartesian-grid-vertical{
    stroke-opacity: 0.3;    
}

.recharts-cartesian-axis-ticks{
display: none;
}


.Title_on_graph{
    position: absolute;
    font-family: 'Circular Std';
    font-weight: 900;
    color: #9AA1AA;
    font-size: 10px;
    padding-top: 18px;
    padding-left: 18px;
    letter-spacing: 0.5px;
}

.Value_on_graph{
    position: absolute;
    font-family: 'Circular Std';
    font-weight: 700;
    color: #3C4044;
    font-size: 24px;
    padding-top: 28px;
    padding-left: 18px;
    letter-spacing: 0.5px;
}