#Header_block{
    position: absolute;
    height: 92px;
    width: 100vw;
    background-color: #5D47AA;
    z-index: 30;
}

.Search_block{
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    
    
}


