#MenuBackground{
    width: 84px;
    height: 100vh;
}


.logo{
    background-image: url(../../assets/images/logo.svg);
    height: 50px;
    width: 68px;
    background-size: cover;
    margin-top: 24px;
    margin-left: 10px;
    opacity: 0.8;
    transition: all 0.2s;
}

.logo:hover{
    opacity: 1;
    transition: all 0.2s;
}


#Menucontrol{
    padding: 24px 26px 24px 18px;
    height: 100%;
}

#Menutop{
position: relative;
top: calc(30% - 100px);
}


.explore{
    background-image: url(../../assets/images/explore.svg);
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 36px;
    width: 36px;
    background-size: fill;
    border-radius: 8px;
    padding: 4px;
    transition: all 0.1s;
    margin: 16px 0 16px 0;
    cursor: pointer;
}

.explore:hover{
    background-color: rgba(0,0,0,0.1);
    transition: all 0.1s;
}

.explore:active{
    background-color: rgba(0,0,0,0.2);

}

#addbtn{
    background-color:transparent;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    position: relative;
    left: -2px;
    top: -2px;
    cursor: pointer;
}

.add{
    background-image: url(../../assets/images/add.svg);
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 36px;
    width: 36px;
    background-size: fill;
    border-radius: 8px;
    padding: 4px;
    transition: all 0.1s;
    margin: 16x 0 16px 0;
    cursor: pointer;
}

.add:hover{
    background-color: rgba(0,0,0,0.1);
    transition: all 0.1s;
}

.add:active{
    background-color: rgba(0,0,0,0.2);
}


.dashboard{
    background-image: url(../../assets/images/dashboard.svg);
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 36px;
    width: 36px;
    background-size: fill;
    border-radius: 8px;
    padding: 4px;
    transition: all 0.1s;
    margin: 16px 0 16px 0;
    cursor: pointer;
}

.dashboard:hover{
    background-color: rgba(0,0,0,0.1);
    transition: all 0.1s;
}

.dashboard:active{
    background-color: rgba(0,0,0,0.2);
}


.settings{
    background-image: url(../../assets/images/settings.svg);
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 36px;
    width: 36px;
    background-size: fill;
    border-radius: 8px;
    padding: 4px;
    transition: all 0.1s;
    margin: 16px 0 16px 0;
    cursor: pointer;
}

.settings:hover{
    background-color: rgba(0,0,0,0.1);
    transition: all 0.1s;
}

.settings:active{
    background-color: rgba(0,0,0,0.2);
}


.profile{
    background-image: url(../../assets/images/profile.svg);
    height: 36px;
    width: 36px;
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 36px;
    width: 36px;
    background-size: fill;
    border-radius: 8px;
    padding: 4px;
    transition: all 0.1s;
    margin: 16px 0 16px 0;
    cursor: pointer;
}

.profile:hover{
    background-color: rgba(0,0,0,0.1);
    transition: all 0.1s;
}

.profile:active{
    background-color: rgba(0,0,0,0.2);
}


