
.app{
  background-color:#5D47AA;
}


@font-face {
  font-family: 'Circular Std';
  src: url('../src/assets/fonts/CircularStd-Book.woff2') format('woff2'),
      url('../src/assets/fonts/CircularStd-Book.woff') format('woff'),
      url('../src/assets/fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../src/assets/fonts/CircularStd-Medium.woff2') format('woff2'),
      url('../src/assets/fonts/CircularStd-Medium.woff') format('woff'),
      url('../src/assets/fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../src/assets/fonts/CircularStd-Bold.woff2') format('woff2'),
      url('../src/assets/fonts/CircularStd-Bold.woff') format('woff'),
      url('../src/assets/fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../src/assets/fonts/CircularStd-Black.woff2') format('woff2'),
      url('../src/assets/fonts/CircularStd-Black.woff') format('woff'),
      url('../src/assets/fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../src/assets/fonts/CircularStd-BookItalic.woff2') format('woff2'),
      url('../src/assets/fonts/CircularStd-BookItalic.woff') format('woff'),
      url('../src/assets/fonts/CircularStd-BookItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}


h1{
  font-family: 'Circular Std';
  font-weight: 700;
  font-size: 42px;
  margin: 0;
}

h2{
  font-family: 'Circular Std';
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

h5{
  font-family: 'Circular Std';
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

#Make_fixed{
  position:fixed !important;
  z-index: 90;
}

